/*----------------------Обнуление----------------------*/
*{padding: 0; margin: 0; border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
:focus, :active{outline: none;}
a:focus, a:active{outline: none;}
html, body{height: 100%; width: 100%; font-size: 100%; line-height: 1; font-size: 14px; -ms-text-size-adjust: 100%;-moz-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}
button{font-family: inherit;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
img{vertical-align: top;}
h1,h2{font-size: inherit; font-weight: 400;}
/*----------------------Обнуление----------------------*/

:root{
  --la-palma-color: #42940F;
  --verdun-green-color: #1F5200;
  --tundora-color: #4E4E4E;
  --classic-rose-color: #FDCFF3;
  --golden-tainoi-color: #FFCF56;
}

body{
  background: #E5E5E5;
  font-family: Arial, sans-serif;
  color: #2F2F2F;
}

.head-title {
  margin: 40px 0 0 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 48px;
}
.cards-container {
  max-width: 1180px;
  margin: 40px auto;
  display: flex;
  justify-content: space-between;
}
.card {
  max-width: 380px;
  height: 482px;
  background: white;
  border-radius: 12px;
  box-shadow: 0px 0px 45px -4px rgba(0, 0, 0, 0.18);
} 
.card__img {
  position: relative;
  width: 100%;
  height: 214px;
  background: url(./Imagebg-img.jpg);
  border-radius: 12px 12px 0 0;
}
.card__tags-container {
  top: 16px;
  left: 16px;
  width: 263px;
  position: absolute;
  display: flex;
  justify-content: space-between;
}
.card__tag {
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  padding: 0 16px;
  border-radius: 8px;
}
.card__tag.card__tag_new {
  background: var(--classic-rose-color);
}
.card__tag.card__tag_last {
  background: var(--golden-tainoi-color);
}
.card__content {
  height: 270px;
  padding: 24px;
  display:flex;
  
  flex-direction:column;
}
.card__title {
  font-weight: 900;
  font-size: 24px;
}
.card__description {
  margin: 16px 0 0 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  flex: 1 1 auto;
}
.card__btn {
  width: 100%;
  height: 48px;
  text-transform: uppercase;
  color: var(--la-palma-color);
  font-weight: 900;
  font-size: 18px;
  border: 2px solid var(--la-palma-color);
  border-radius: 8px;
  background: transparent;
  transition: 0.4s ease;
  align-self:flex-start;
}
.card__btn:hover{
  background: var(--la-palma-color);
  color: white;
  transition: 0.4s ease;
}

.card__btn:active{
  background: var(--verdun-green-color);
  border: 2px solid var(--verdun-green-color);
  color: white;
  transition: 0.4s ease;
  transform: scale(0.97);
}
.card__btn.card__btn_disable{
  background: var(--tundora-color);
  color: white;
  border: 2px solid var(--tundora-color);
}
.card__btn.card__btn_disable:active{
  transform: scale(1);
}
.card__btn.card__btn_disable:hover{
  cursor: not-allowed;
}

@media (max-width: 1200px ) {
  .cards-container{
    flex-direction: column;
    align-items: center;
  }
  .card{
    margin: 0 0 40px 0;
  }
}
@media (max-width: 424px ) {
  .card{
    max-width: 300px;
  }
} 